$dark: hsl(0, 0%, 7%);
$darkShadeLighter: hsl(0, 0%, 20%);
$primaryColor: hsl(209, 100%, 55%);
$primaryColorAccentOne: hsl(212, 74%, 95%);
$greyishBlue: hsl(0, 0%, 98%);
$greyMedium: hsl(0, 0%, 76%);
$greyDark: hsl(0, 0%, 65%);
