@import "./variables.scss";

.header {
  padding: 0.5rem;
  position: sticky;
  top:0;
  backdrop-filter: blur(8px);
  z-index: 2;
  background-color: $greyishBlue;
}

.header__navbar {
  width: 90vw;
  max-width: 60em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 2rem;
  color: $primaryColor;
  font-weight: 600;
  cursor: pointer;
}

.header__checkbox {
  display: none;
}

.header__hamburger,
.header__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  stroke-width: 15;
  padding: 0.3125rem;
  fill: $primaryColor;
  cursor: pointer;
}

.header__close {
  display: none;
}

.header__links__list {
  background-color: $greyishBlue;
  opacity: 0.8;
  position: absolute;
  top:2.5rem;
  height: 40vh;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 100%;
  right: 0;
  transition: all 0.5s;
}

.header__links {
  display: block;
  padding: 0 0.8rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.header__links:hover {
  color: $primaryColor;
}

@media screen and (min-width: 50em) {
  .header__hamburger {
    display: none;
  }

  .header__links__container {
    display: block;
  }

  .header__links__list {
    position: static;
    flex-direction: row;
    height: auto;
    font-size: 1.2rem;
  }

  .header__links {
    margin: 0 auto;
  }
}
