@import "./variables.scss";

.hero_container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;

  h1 {
    font-size: 3.2rem;
  }

  p {
    font-size: 1.4rem;
  }

  span {
    color: $primaryColor;
    font-weight: 600;
  }
}

.link_container {
  padding: 1rem 0 0;
  display: flex;
  gap: 1rem;
  svg {
    font-size: 2.5rem;
  }
}

// @media screen and (min-width: 50em) {
//   .hero_container {
//     width: 80%;
//   }
// }
