@import "./variables.scss";

.ts_container {
  width: 90vw;
  max-width: 50em;
  margin: 0 auto;
  padding: 2rem 0;

  div {
    text-align: center;

    p {
      font-size: 1.2rem;
      line-height: 1.5;
    }

    ul {
      list-style: none;
      padding: 0;
      gap: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      font-size: 4rem;
    }
  }

  div.normal {
    text-align: left;

    ul.disc_list {
      flex-direction: column;
      list-style-type: disc;
      padding-left: 1rem;
      gap: 1rem;

      li {
        font-size: 1.2rem;
        line-height: 1.5;
      }
    }
  }

  span {
    color: $primaryColor;
    font-weight: 600;
  }
}
